/* Generall style for the whole app */

div.gen {
    width: 80%;
    margin: 2em;
    padding: 1em;
}

input {
    border: 1px solid darkorange;
    border-radius: 3px;
}

/* Clases for the heading */

div.ctntHead { 
    display: block;
    text-align: center;
    padding: 0.5em;
    margin: 0.5em;
}
h1.ctntHead, dfn.ctntHead {
    font-family: "Lucida Console", Monaco, monospace;
    color: Darkorange;
}
h1.ctntHead {
    font-size: 3.2em;
}
dfn.ctntHead {
    font-size: 1.2em;
}



/* Classes for the Query and Result divs */
div.ctntQuery, div.ctntResult {
    border: 1px solid #ccc;
    border-radius: 5px;
}

div.ctntQuery {
    height: 5em;
}

div.ctntResult {
    display: none;
    height: 7em;
}

div.ctntSubmit {
    text-align: center;
    padding: 0.2em;
    height: 25px;
}

button {
    padding: 0.2em 3em;
    background: orangered;
    border: 1px solid black;
    border-radius: 2px;
    color: black;
}


/* Clases for labels and spans */
.fLeft {
    float: left;
}

.fRight {
    float: right;
}

.cent {
    text-align: center;
    padding: 0;
    margin: 0;
    width: auto;
}

.form {
    float: left;
    width: 5em;
}

input.form {
    width: 12em;
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

label.form {
    clear: left;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    padding: 0.6em;
    margin-left: 2em;
}

label.unit {
    font-size: 0.8em;
    font-weight: normal;
    width: 1em;
    padding: 0.6em;
    float: right;
    margin-top: 0.4em;
}

label.result {
    font-size: 2em;
    font-style: italic;
    width: 6em;
    padding: 0.6em;
}

a {
    text-decoration: none;
    color: #0078a3;
}
a:visited {
    color: #0078a3;
}
a:hover {
    text-decoration: underline;
}