# Ignore backup files from text editors
# usually ended with ~
*~

# Ignore NetBeans project files and directories
nbproject/
test/
config/

# Ignore manifest file for now
public_html/manifest.webapp
